<!DOCTYPE html>
<html>
<head>
  <title>Simple CMS | <%= @page_title || "Admin" %></title>
  <!-- %= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true % -->
  <%# = javascript_include_tag #'application', 'data-turbolinks-track' => true %>
  <%# = csrf_meta_tags %>

  <style>
  	span.status { display: block; width: 10px; height: 10px; margin: 0.25em auto; padding: 0; border: 1px solid #000000; }
  	span.status.true { background: green; color: green; }
  	span.status.false { background: red; color: red; }
  </style>

</head>
<body>
	<div id="header">
		<h2>Simple CMS Admin</h2>
	</div>

	<div id="main">
	  <% if !flash[:notice].blank? %>
			<div class="notice">
				<h3><%= flash[:notice] %></h3>
			</div>
		<% end %>
		<div id="content">
			<!-- before yield -->
			<%= yield %>
			<!-- after yeild -->
		</div>
	</div>

	<div id="footer">
		<p id="copyright">&copy; Ellen Stucki</p>
	</div>  
</body>
</html>
